@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

//Font
$fontePrincipal: Roboto, sans-serif;

// Colors
$background-color: #f5f6fa;
$background-header: #142450;
$color-white: #fff;
$button-green: #44bd32;
$button-green-hover: #4cd137;

// BreackPoint
$mobile: 767px;
$tablete: 1023px;
